/*body is constant throughout all pages and will be using Tailwind framwork*/

body {
	font-family:Montserrat;
}

.instalink {
	transition: transform 0.3s ease
}
.instalink:hover {
	transform:scale(1.2)
}

.linkedlink {
	transition: transform 0.3s ease
}
.linkedlink:hover {
	transform:scale(1.2)
}

.gitlink {
	transition: transform 0.3s ease
}
.gitlink:hover {
	transform:scale(1.2)
}
