/*nav is constant throughout all pages*/

nav {
	font-family:Montserrat;
	font-size:2.25vw;
	font-size:2.25vh;
	text-align:center;
	margin-top:2.5%;
}

.home {
	padding-right:35px;
	text-decoration:none;
}
.home:link, .home:visited{
	color:black;
	opacity:100%;
}
.home:hover {
	opacity:60%;
}


.socials {
	padding-right:35px;
	text-decoration:none;
}
.socials:link, .socials:visited{
	color:black;
	opacity:100%;
}
.socials:hover {
	opacity:60%;
}


.contact {
	padding-right:35px;
	text-decoration:none;
}	
.contact:link, .contact:visited{
	color:black;
	opacity:100%;
}
.contact:hover {
	opacity:60%;
}


.resume {
	text-decoration:none;
}
.resume:link, .resume:visited{
	color:black;
	opacity:100%;
}
.resume:hover {
	opacity:60%;
}


/*Below is code for index.html*/
footer {
	font-family:Montserrat;
 }

.indexbody {
	background-color:Lightgrey;
}

.thumbsup {
	width:25%;
	height:25%;
	display:block;
	object-fit:cover;
  	border-radius:50%;
  	margin:auto;
  	margin-top:3%;
 }

.bio {
	margin-top:3%;
	font-size:187.5%;
	font-size:3vw;
	font-size:3vh;
	margin-left:20%;
	margin-right:20%;
	text-align:center;
}

/*below is code for socials.html*/

.socialbody {
	background-color:LightGrey;
}

.socialfooter {
  	margin-top:2.5%;
  	margin-left:28.3%;
}

.follow {
	font-family:Montserrat;
	font-size:3vw;
	font-size:3vh;
	text-align:center;
	margin-top:8%;
}

.insta {
	width:20%;
	height:20%;
	display:block;
	object-fit:cover;
  	border-radius:50%;
  	margin:auto;
  	float:left;
  	transition: transform 0.3s ease;
}
.insta:hover{
	transform: scale(1.2)
}

.linkedin {
	width:20%;
	height:20%;
	display:block;
	object-fit:cover;
  	border-radius:50%;
  	float:left;
  	transition: transform 0.3s ease;
}
.linkedin:hover {
	transform: scale(1.2)
}

.github {
	width:20%;
	height:20%;
	display:block;
	object-fit:cover;
  	border-radius:50%;
  	float:left;
  	transition: transform 0.3s ease;
}
.github:hover {
	
	transform: scale(1.2)
}

/*below is code for contact.html*/